:root {
    /*---------------------------------- background-color----------------------------------*/
    --left-section: rgb(10, 10, 10);
    --body-color: rgb(82, 76, 76);
    --right-section: rgb(255, 255, 255);
/*---------------------------------- Profile image ----------------------------------*/
    --profile-img-border: rgb(250, 3, 3);
    --name-color: rgb(255, 255, 255);
    --profile-border-line: white;
    --left-main-title-color: rgb(255, 255, 253);
    --contact-info-ul-li: white;
    --contact-info-ul-li-i: rgb(255, 255, 255);
    /*----------------------------------Progressbar----------------------------------*/
    --progress-bar-color: rgb(255,255,255);
    --progress-bar-color-progress: rgb(28, 13, 248);
    /*----------------------------------Skill-title----------------------------------*/
    --skill-title-color: rgb(255,255,255);
    --right-titles: rgb(0, 0, 0);
    --right-titles-after: rgb(28,3,248);
    --para-text: rgb(41, 34, 35);
    --tl-title1: rgb(28,13,248);
    --tl-title2: rgb(0, 0, 0);

    --point: rgb(28, 13, 248);
    --line: rgb(28, 13, 248);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--body-color);
}

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: var(--left-section);
}

.right-section {
    grid-column: span 5;
    background-color: var(--right-section);
    height: 100%;
}

.left-content {
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 1px solid;
    color: var(--profile-border-line);
}

.image {
    width: 100%;
    text-align: center;
}

.profile img {
    width: 70%;
    border-radius: 20%;
    border: 2px solid;
    color: var(--profile-img-border)
}

.name {
    font-size: 2rem;
    color: var(--name-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

/* .career {
    font-size: 1.2rem;
    color: #94ea9b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
} */

.main-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--left-main-title-color);
    padding-top: 3rem;
}

.contact-info ul {
    padding-top: 2rem;
}

.contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: var(--contact-info-ul-li);
}

.contact-info ul li i {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: var(--contact-info-ul-li-i);
}

.skills-section ul {
    padding-top: 2rem;
}

.skills-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress-bar {
    width: 100%;
    height: .4rem;
    background-color: var(--progress-bar-color);
    position: relative;
    border-radius: 12px;
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--progress-bar-color-progress);
    border-radius: 12px;
}

/*Skills-bar*/

.js-progress {
    width: 85%;
}

.ps-progress {
    width: 50%;
}

.j-progress {
    width: 90%;
}

.c-progress {
    width: 50%;
}

.n-progress {
    width: 50%;
}

.w-progress {
    width: 78%;
}

/* languages bars */

.esp-progress {
    width: 100%;
}

.ing-progress {
    width: 90%;
}

.cat-progress {
    width: 60%;
}

.it-progress {
    width: 40%;
}

.jp-progress {
    width: 30%;
}

.skill-title {
    text-transform: uppercase;
    color: var(--skill-title-color);
    font-size: 1rem;
}

.sub-title {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f7f7f7;
    /* color: var(--subtitle-color); */
}

.sub-para {
    color: #ccc;
    padding: .4rem 0;
}

.references-section li {
    color: #ccc;
    padding: .2rem 0;
}

.references-section li i {
    padding-right: .5rem;
    font-size: 1.2rem;
    color: #db2d2d;
}

.right-main-content {
    padding: 2rem 3rem;
}

.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--right-titles);
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: .2rem;
    background-color: var(--right-titles-after);
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para {
    line-height: 1.6rem;
    color: var(--para-text);
    font-size: 1.1rem;
}

.sect {
    padding-bottom: 2rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: var(--tl-title1);
    text-transform: uppercase;
}

.tl-title-2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: var(--tl-title2);
    text-transform: uppercase;
}

.tl-content {
    /* border-left: 1px solid rgb(13, 100, 52); */
    border-left: 1px solid;
    color: var(--line);
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before {
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: var(--point);
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*Media Querries*/
@media screen and (max-width:823px) {
    .right-title::after {
        width: 35%;
    }
}

@media screen and (max-width:681px) {
    .right-title::after {
        width: 35%;
    }
}

@media screen and (max-width:780px) {
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }

    .right-section {
        grid-column: span 4;
    }
}

@media screen and (max-width:1200px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile img {
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .profile img {
        width: 60%;
    }
}

@media screen and (max-width:390px) {
    .name {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:660px) {
    .right-title::after {
        width: 0%;
    }
}